body {
    background: papayawhip;
    padding: 0;
    margin: 0;
}

header, section, footer, main {
    padding: 40px;
}

header{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
main {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#banner {
    display: flex;
    justify-content: center;
    background-color: pink ;
}